body{
    background-color: blue;
}
nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: blue;
    padding: 10px;
    margin-bottom: 50px;
    border-style: dashed;
    border-radius: 10px;
    border-width: 4px;
    width:auto;

}
li{
    display: inline;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    background-color: white;
}
h1{
    margin: 10px;
    margin-left: 20px;
    font-family: 'Protest Strike', sans-serif;
    font-size: x-large;
    color: yellow;
    text-shadow: 10px 10px 5px black;
    cursor: pointer;
}
input{

    border-radius: 10px;
    width: 350px;
    height: 40px;
    margin: 10px;
}
li:hover{
    background-color: yellow;
    box-shadow: 5px 5px 2px black;
    border-style: dashed;
    border-color: black;
    color: blue;
    
}
#search-btn{
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
#search-icon{
    height: 35px;
    width: 20px;
}
#searchbar{
    padding: auto;
    display: flex;
    justify-content: space-between;
}
#search-btn:hover{
    border-style: dashed;
    border-color: black;
    background-color: yellow;
    box-shadow: 5px 5px 2px black;
    color: blue;
}
#search-btn:active{
    transform: translateX(10px) translateY(10px);
}
#collections{

    border-style: dashed;
    border-width: 4px;
    border-radius: 10px;
    border-color: black;
    margin: 50px;
    padding: 50px;
}
#images{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
img{
    width: 33%;
}