body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    font-family: 'Protest Strike', sans-serif;
}
button{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin:10px;
    color: black;
    background: rgb(255, 255, 255);
    cursor: pointer;
    width: 350px;
    font-size:larger;
    position: relative;
    left: -255px;
}
#buttons{

    margin-top: 50px;

    
}
input{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
}
#input{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    position: relative;
    left: 260px;
    text-decoration: none;
    color: black;
}
#block{

    position: relative;
    left: 35%;
    border-radius: 10%;
    width: 350px;
    background-color: yellow;
    padding: 50px;
    border-style: dashed;
    border-color: black;

}
button:hover{
    box-shadow: 5px 5px 4px rgb(0, 0, 0);
    background-color: rgb(0, 0, 211);
    color: white;
}
button:active{

    background-color: rgb(27, 27, 247);
    transform: translateX(10px) translateY(10px) ;
}

#block:hover{
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
}
#webname{
    position: relative;
    left:-40%;
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
    font-size: xx-large;
    color: yellow;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 70px;
    padding-right: 70px;
    border-color: black;
    border-radius: 10px;
    border-style: dashed;
    text-shadow: 10px 10px 5px black;
}
h2{
    padding: 0px;
    margin: 0%;
    position: relative;
    left: -110px;
    top: 50px;

}
h3{
    padding: 0px;
    margin: 0%;
    position: relative;
    left: 130px;
    bottom: 40px;
}
#vertical-ruler{

    margin-right: 150px;
    width: 3px;
    height: 750px;
    background-color: black;


}