body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}
button{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin:10px;
    color: black;
    background: rgb(255, 255, 255);
    cursor: pointer;
    width: 350px;
    font-size:larger;
}
#buttons{

    margin-top: 50px;

    
}
input{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
}
#input{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    position: relative;
    left: 260px;
    text-decoration: none;
    color: black;
}
#block{

    position: relative;
    left: 25%;
    border-radius: 10%;
    width: 350px;
    background-color: yellow;
    padding: 50px;

}
button:hover{
    box-shadow: 5px 5px 4px rgb(0, 0, 0);
    background-color: rgb(0, 0, 211);
    color: white;
}
button:active{

    background-color: rgb(27, 27, 247);
    transform: translateX(10px) translateY(10px) ;
}

#block:hover{
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
}